-e git+ssh://bitbucket.org/anthropedia/tci-database.git#egg=tci-database
-e git+ssh://bitbucket.org/anthropedia/tci-data.git#egg=tci-data
-e git+https://github.com/anthropedia/tci-i18n.git#egg=tci-i18n

Flask==0.12
